$black: #000000;
$darkGray: #333B4C;
$mediumDarkGray: #666B75;
$gray: #D3D3D3;
$lightGray: #E4E4E4;
$lightestGray: #F6F5F6;
$white: #FFFFFF;

$lightText: $white;
$darkText: $black;

$whiteTransparency: rgba(255, 255, 255, 0.1);
$shadowTransparency: rgba(102, 107, 117, 0.6);

$bodyFontFamily: "Open Sans",  sans-serif;

$breakpointXS: 320px;
$breakpointSM: 480px;
$breakpointMD: 720px;
$breakpointLG: 1000px;
$breakpointXL: 1540px;
