.carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 400px;
}

.wrapper {
  overflow-y: hidden;
  /* width: 2030px;  */
}

.smallImages {

}

.bigImage, .bigImage img {
  float: left;
  margin: 1px 0 0 1px;
  height: 300px;
  
  width: 300px;
}





