@import './globals/vars.scss';
@import './globals/mixins.scss';

.Images {
  width: $smallImageSize;
  height: $smallImageSize;
  margin: 2px 2px;

  background-color: $white;
  img {
    width: $smallImageSize;
    height: $smallImageSize;
  }
  .overlay {
    position: relative;
    width: $smallImageSize;
    height: $smallImageSize;
    margin: -250px 0 0 0;
  }
  .image-title {
    background: $shadowTransparency;
    color: $white;
    z-index: 100;
    margin: calc(#{$smallImageSize} - 40px) 0px 0 0px;
    @include fluid-type(12px, 14px);
    font-weight: 300;
    text-align: center;
    z-index: 200;
    width: $smallImageSize;
    height: 35px;
    line-height: 35px;
  }

  .image-description {
    @include fluid-type(12px, 12px);
    font-weight: 300;
    margin: 40px 10px 0 10px;
    text-align: center;
    z-index: 100;
    color: $white;

  }
}
