@import './globals/vars.scss';
@import './globals/mixins.scss';

.IndividualContentWrapper {
  margin: 0px 0px;
  .solution-title {

  }
  .solution-image {
    max-width: 900px;
    height: $solutionImageHeight;

  }
  .paragraph {

  }
  .content-images {

  }
}
